# Unreal Engine ignore
Binaries/
Intermediate/
DerivedDataCache/
Saved/

# Pi / Editor cache
.cache/
.vs/
.idea/
.vscode/

# Build and temp files
*.sln
*.suo
*.user
*.opendb
*.db

# Release build packages
*.zip
